<h1>Notebook Forum</h1>

<ul>

	<% @topics.each do |topic| %>	
		<li>
			<%= topic.title %>
			<%= link_to 'Show', topic_path(topic) %>
			<%= link_to 'edit', edit_topic_path(topic) %>
			<%= link_to 'Destroy', topics_path(topic), method: :delete, data:{ confirm: "Are you sure?" } %>
			<%= topic.comments.size %>
		</li>
	<% end %>

</ul>

<%= link_to 'New topic', new_topic_path %>

