<h1><%= @topic.title %></h1>

<ul>

<% @topic.categorys.each do |category| %>

	<li><%= category.name %></li>

<% end %>

</ul>

<%= @topic.created_at %>

<%= simple_format(@topic.description) %>

<h2>評論</h2>

<ul>

<% @comments.each do |comment| %>

	<li>
	<%= comment.content %>

	<%= form_for comment, :url => new_topic_category_path(:topic_id => @topic.id, :id => comment.id), :method => :patch do |f| %>

		<%= f.label :content %>
  	<%= f.text_field :content %>

  	<%= f.submit "更改回覆" %>

	<% end %>
	</li>
	
<% end %>

</ul>

<p><%= link_to '新的回覆', new_topic_comment_path(@topic) %></p>

<p><%= link_to '回首頁', topics_path %></p>

<p>瀏覽數<%= @topic.impression %></p>
