<%= current_user.nickname %>

<%= form_for current_user, :url => porfile_users_path do |f| %>

 	<%= f.label :email, "email" %>
  <%= f.text_field :email %>

  <%= f.label :nickname, "暱稱" %>
  <%= f.text_field :nickname %>

  <%= f.submit "修改" %>

<% end %>

<p>文章</p>

<% current_user.topics.each do |topic| %>

	<%= topic.title %>

	<%= link_to 'edit', edit_topic_path(topic) %>

<% end %>

<p>回覆</p>

<% current_user.comments.each do |comment| %>

	<%= comment.content %>

<% end %>

<p><%= link_to '回首頁', topics_path %></p>

